<script>

    $('#hideshow').toggle(function() {
        $('#hideshow').text('Blague n°1');
        $('#message1').hide();
    }, 

        function() {
        $('#hideshow').text('Blague n°1');
        $('#message1').show();
        $('#message2').hide();
        $('#message3').hide();
   
    });
    
</script>

<script>
    
    $('#hideshow1').toggle(function() {
        $('#hideshow1').text('Blague n°2');
        $('#message2').hide();

 }, 
        function() {
        $('#hideshow1').text('Blague n°2');
        $('#message2').show();
        $('#message1').hide();
        $('#message3').hide();
   
    });
    
</script>

<script>
    
    $('#hideshow2').toggle(function() {
        $('#hideshow2').text('Blague n°3');
        $('#message3').hide();
  }, 

        function() {
        $('#hideshow2').text('Blague n°3');
        $('#message3').show();
        $('#message2').hide();
        $('#message1').hide();
   
    });

</script>

<script>

       $("#delete1").click(function(){
    $("#message1").remove();
    $("#hideshow").remove();
});
       $("#delete2").click(function(){
    $("#message2").remove();
    $("#hideshow1").remove();
});
       $("#delete3").click(function(){
    $("#message3").remove();
    $("#hideshow2").remove();
});
</script>



<table id="example" class="display" style="width:100%">


        <thead>
            <tr>
                <th>Objet</th>
                <th>Contenu</th>
            </tr>
            <tr>
                <th> ____</th>
                <th> ____ </th>
            </tr>
        </thead>
        <div id="monmessage1">
        <tbody>
            <tr>
                
                <td> <a href="#" id="hideshow"><br>Blague n°1</br></a></td>

                <td id="message1">
                                  <em><strong>Objet: </em></strong>Blague n°1</li></br>
                                  <em><strong>Contenu: </em></strong>"- I hate this cheese with the holes in it.
- Then eat around them."</br></br><a id="delete1" class="btn btn-danger">Supprimer</a></td></li>
                                  
           
                                  
            </tr>
                 </div>
        </tbody>
        <tbody>
            <tr>
                <td><a href="#" id="hideshow1">Blague n°2</a></td>

                <td id="message2">
                                  <em><strong>Objet:  </em></strong>Blague n°2</br>
                                  <em><strong>Contenu: </em></strong>"- I'm so broke, if a robber was to rob me, all he'd get would be practice." </br></br> <button id="delete2"class="btn btn-danger">Supprimer</button></td></li>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td><a href="#" id="hideshow2">Blague n°3</a></td>

                <td id="message3" >
                                  <em><strong>Objet:  </em></strong>Blague n°3</br>
                                  <em><strong>Contenu: </em></strong>"- What was your mother's name before she was married?
- I didn't have a mother before she was married."</br></br> <button id="delete3" class="btn btn-danger">Supprimer</button></td></li>
            </tr>
      

        





