<ul id="tabs">
      <li><a href="#tab1">Mystery</a></li>
      <li><a href="#tab2">Reference book</a></li>
      <li><a href="#tab3">Fairy tale</a></li>
      <li><a href="#tab4">Fairy tale</a></li>
      <li><a href="#tab5">Humor</a></li>
      <li><a href="#tab6">Fiction narrative</a></li>
</ul>

<section id="listes">
<div class="container" id="tab1">
    <ul>
    	<li>A Many-Splendoured Thing , to read: 12/09/18</li>
    	<li>
Bury My Heart at Wounded Knee , to read: 12/03/18 </li>
    	<li>That Good Night , to read: 12/07/18</li>
    </ul>
</div>

<div class="container" id="tab2">
    <ul>
    	<li>Dance Dance Dance , to read: 12/03/18</li>
    	<li>That Hideous Strength , to read: 11/20/18</li>
    	<li>The Grapes of Wrath , to read: 12/04/18</li>
    </ul>
</div>

<div class="container" id="tab3">
    <ul>
    	<li>The Cricket on the Hearth , to read: 12/01/18 </li>
    	<li>The Parliament of Man , to read: 11/24/18</li>
    	<li>A Catskill Eagle , to read: 11/21/18</li>
    </ul>
</div>

<div class="container" id="tab4">
    <ul>
      <li>Time To Murder And Create , to read: 12/04/18li>
      <li>Blithe Spirit , to read: 12/13/18</li>
      <li>A Passage to India , to read: 11/30/18</li>
    </ul>
</div>

<div class="container" id="tab5">
  <ul><li>Jesting Pilate , to read: 12/10/18li></li>
      <li>The Stars' Tennis Balls , to read: 11/24/18</li>
      <li>The Painted Veil , to read: 12/03/18</li>
    </ul>
</div>

<div class="container" id="tab6">
    <ul>
      <li>Bury My Heart at Wounded Knee , to read: 12/01/18li>
      <li>A Passage to India , to read: 12/10/18</li>
      <li>The Green Bay Tree , to read: 11/27/18</li>
    </ul>

</div>
</div>
</div>
</div>