#bouton ul
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	background: #ccc;
	transform-origin: top;
	transform: perspective(1000px) rotateX(-90deg);
	transition: 0.5s;
}

#bouton ul li a
{
	display: block;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	background: #262626;
	color: #fff;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

#bouton ul li a:hover
{
	background:#0d7ad0
}

#bouton ul.active
{
	transform: perspective(1000px) rotateX(0deg);
}

#bouton ul li
{
	list-style: none;
}